                    [type="checkbox"]:checked {
                        margin-left: 50px;
                    }
                    /*                     
                    [type="text"] {
                        text-transform: uppercase
                    }
                    
                    [type="password"] {
                        text-transform: uppercase
                    } */
                    /* label {
                        text-transform: uppercase
                    } */